<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="layout.css">
    </head>
    <body>
        <div class="image-content">
            <img src="image.png">
        </div>
        <div class="solid-border">Solid Border</div>
        <div class="dotted-border">Dotted Border</div>
        <div class="dashed-border">Dashed Border</div>
        <div class="double-border">Double Border</div>
        <div class="groove-border">Groove Border</div>
        <div class="ridge-border">Ridge Border</div>
        <div class="inset-border">Inset Border</div>
        <div class="outset-border">Outset Border</div>
        <div class="none-border">None Border</div>
        <div class="hidden-border">Hidden Border</div>
        
    </body>
</html>